body{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.img{
  width: 400px;
  border-radius: 10%;
  height: 400px;
}
.img-fluid{
  border-radius: 5%;

}
.img-author {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.li{
  margin: 10px;
}
.icon{
  margin-right:  10px;
  border-radius: 100%;
  background-color: #008374;
  color:white;
  display: inline-block;

}
.icon-price{
 margin-right: 5px;
  border-radius: 100%;
background-color: #00796B;
 color:#fff;
 padding: 5px;
  display: inline-block;

}
.icon-serv{
  margin:  30px;
  padding: 20px;
  border-radius: 99%;
  background-color: #00796B;
  color:#fff;
  display: inline-block;

}

.icon-serv:hover{
  background-color: #00796B;

}
.icon-testomonial{
  background-color: #fff;
  color: yellow;
}
.grey-section{
  background-color:#f6f6f6;
  box-shadow: black;
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 20px;
}
.icon-pricing{
  z-index: 2;
  margin:  5px;
  border-radius: 100%;
background-color: #00796B;
 color:#fff;
 padding: 15px;
  display: inline-block;

}
.contact-icon{
  border-radius: 50px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);

}
.contact-icon:hover{
  background-color: #fff;
  color:#00796B;

}
.team-img{
  border-radius: 10%;
  width: 60%;
  height: 60%;
}

.column{

  border-color: #008374;
  size: 10%;
}

 .button{
  padding: 14px 40px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
 }
 .button:hover {
  border-color: rgba(255, 255, 255, 0.5);
 
 }
 .count{
  padding: 10px;
color:#008274;
font-weight: 10;
  margin: 5px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;}
 .location{
  background-color: #008374;
  color:#fff;
 }
 .location-div{
  width: 100%;
  background-color: #009282;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

 .button-msg{

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  background: #008374;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
 }
 .button.-msg:hover {
  border-color: #00796B;
  border-style: solid;

 }
.buy-button{

  padding: 7px 20px;
  margin: 40px 20px;
  border-radius: 30px;
  border-color: #00796B;
  border-style: solid;
  border-width: 10%;
 border-radius: 30px;
color:#00796B;

}
.white{
  color: #fff;
}
.buy-button:hover{
  background-color: #00796B;
  border-color: #00796B;
  color:#fff
}
 .form{
  padding: 5%;
  margin: 30px;
  margin-left: 20px;
 }
 .form-fill{
  padding-bottom: 8px;
  padding-left: 5%;
  padding-right: 5%;
 }
 .form-grid{
  max-height: 110%;
  padding-left: 0px;
  padding-bottom: 30px;
  margin: 8px;
 }
 hr {
  margin: 50px auto;
border:solid #008274 4px ;
border-bottom: none;
width: 80px;
}
h1, h2, h3, h4, h5, h6 {
  font-family:  "Montserrat", sans-serif;
}
h5{
  color: #00796B;

}
.testimonial-p{
  color: #000;
}
h4{
  color:#000;
}
.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}
.accordion-css{
  color: #00796B;
}
h2 {
  font-size: 2 rem;
  line-height: 1.5;
}
.align-items-left{
  text-align: left;
}
/* headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0 rem;
  font-weight: 600;
}

.container-fluid {
  padding: 7% 15%;
}
.row{
  position: center;
}
/* color-section  */
 .color-section{
   background-color: #008374;
   color: white;
 }

.white-section{
    background-color: white;
    box-shadow: grey;

}
.color-nav{
  background-color: #008374;

}





.call-to-action{
  background-image: url("../assets/img/cta-bg.jpg");
  color:#fff;
}

.num{
  color: #00796B;
  width: 10px;
}


/* navigation */
.navbar{
 display: inline;
background-color: #008374;
}
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  display: inline;
  margin-right: 10000px;
}

.icon-box{
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: #008d7d;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  color: #fff;
  transition: 0.3s;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 48px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);

  
}

.icon-boxes{
  margin-top: 80px;
  padding-bottom: 20px;

}
.icon-box:hover {
  background: #009786;
}

@media (min-width: 1200px) {
  .icon-boxes:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(50% + 20px);

  }
}
.nav-link {
  list-style: none;
  font-size: 1.2 rem;
  position: relative;
  font-family:"Montserrat", sans-serif;
}
@media (min-width: 1024px) {
  .mobile-nav-show {
    color: rgba(255, 255, 255, 0.6);
    background-position: right;
    margin-right: 100px;
}
}


/* title section */
#title .container-fluid {
  padding: 1% 1% 1%;
  text-align: center;
}




#press {
  background-color: #fff;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* <!-- Call to Action --> */

.icon-team {
  margin: 40px 20px;
  padding: 5px;
  border-color: grey;
  border-style: solid;
  border-width: 5%;
  border-radius: 100%;
color: grey;
}
.icon-team:hover{
border-color: #008374;
border-style: solid;
  background-color: #fff;
  color:#008374;
}

.icon-footer {
  margin: 40px 20px;
  padding: 5px;
  border-color: grey;
  border-style: solid;
  border-width: 5%;
  border-radius: 100%;
color: grey;
}
.icon-footer:hover{
border-color: #fff;
border-style: solid;
  background-color: #008374;
  color:#fff;
}
.icon-pricing{
border-radius: 100%;
  border-style: solid;
background-color: #00796B;
color: #fff;
  font-size: 40px;


}
a{
  color: #d9d9d9;
  text-decoration:none;
}
a:hover{
  color: #fff;
  text-decoration:none;
}
#contact  h4{
  color: #fff;
}
#testimonials  h4{
  color: #fff;
}
.navbar-nav a{
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  text-decoration:none;
  color: #d9d9d9;
}
.navbar-nav a:hover{
  color: #fff;
}
.nav-item{
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
 
  
}
.breadcrumb-item a{
  color: #00796B;

}
.footer h4 {
  color:white
}
.footer p {
  color:white
}
.footer-links ul {
  list-style: none;
  padding: 0;
  display: inline;
  margin: 0;
}
.footer-links {

color: #f6f6f6;
}


.stretched-link{
  color:#00796B ;
}
.stretched-link:hover{
  color: #00796B;
}
.stretched-link1{
  color:#fff ;
}
.stretched-link1:hover{
  color:#fff;
}
.copyright {
  color: #fff;
}
:root {
  scroll-behavior: smooth;

}
.scroll{
  margin-left: 98%;
  visibility: hidden;
}
.footer{
  background-color: #00796B;
  padding: 0px;
}